// Imports
@import "_var.scss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: $light;
  font-family: "Epilogue", sans-serif;
}

.App {
  position: relative;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
}

p {
  font-size: 18px;
  color: $gray;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: -1.11px;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: 130px 0 0 0;
  height: fit-content;
  flex-wrap: wrap;
  position: relative;
  padding-left: 106px;

  div {
    flex: 1;
    align-items: center;
  }

  p {
    margin-top: 48px;
    word-wrap: break-word;
    max-width: 350px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .heroImg {
    max-width: 480px;
    display: flex;
    margin: auto;
    max-height: 100%;
  }

  .btn {
    color: $light;
    background-color: $dark;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    border: solid 1px $dark;
    margin-top: 51px;

    &:hover {
      cursor: pointer;
      background-color: $light;
      border: solid $dark 1px;
      color: $dark;
    }
  }
}

@media (max-width: 767px) {
  .hero {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: nowrap;
  }

  .heroImg {
    max-width: 100%;
  }

  h1 {
    font-size: 36px;
    line-height: 42px;
    padding-top: 47.75px;
    letter-spacing: -0.5;
  }

  p {
    max-width: 343px;
    font-size: 16px;
    margin: auto;
  }
}

footer {
  padding: 20px 10px;
  text-align: center;
  width: 100%;

  p {
    font-size: 11px;
  }

  a {
    font-size: 11px;
    color: $dark;

    &:hover {
      color: $gray;
    }
  }
}
