// Imports
@import "_var.scss";

body,
html {
  margin: 0;
  padding: 0;
  background-color: $light;
}

.App {
  position: relative;
  max-height: 100vh;
  box-sizing: border-box;
  width: 1440px;
  margin: auto;
}

p {
  font-size: 18px;
  color: $gray;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 700;
  letter-spacing: -1.11px;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: 130px auto;
  height: fit-content;
  align-items: center;
  flex-wrap: wrap;

  div {
    flex: 1;
    align-items: center;
  }

  p {
    margin-top: 48px;
    word-wrap: break-word;
    max-width: 350px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .heroImg {
    justify-content: right;
    width: 480px;
    justify-items: right;
  }

  .btn {
    color: $light;
    background-color: $dark;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 22px;
    border: solid 1px $dark;
    margin-top: 51px;

    &:hover {
      cursor: pointer;
      background-color: $light;
      border: solid $dark 1px;
      color: $dark;
    }
  }
}
