@import "_var.scss";

.clients {
  display: flex;
  margin-top: 108px;
  align-items: center;
  gap: 50px;
  padding: 0 10px;
  box-sizing: border-box;
}

.data {
  max-height: 20px;
}

.audio {
  max-height: 35.9px;
}

.maker {
  max-height: 24px;
}

.meet {
  max-height: 20px;
}

@media (max-width: 767px) {
  .clients {
    gap: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
