@import "_var.scss";

.clients {
  display: flex;
  margin-top: 108px;
  align-items: center;
  gap: 50px;
}

.data {
  height: 20px;
}

.audio {
  height: 35.9px;
}

.maker {
  height: 24px;
}

.meet {
  height: 20px;
}
